*{
  box-sizing: border-box;
}

body{
  position: relative;
  min-width: 320px;
}

a{
  text-decoration: none;
  color: inherit;
}

h1, h2, h3{
  padding: 0;
  margin: 0;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
  

button{
  cursor: pointer;
}

embed{
  width: 100%;
}
  
.container{
  max-width: 1230px;
  margin: auto;
}

.owl-next, .owl-prev{
  border: none;
  background-color: inherit;
}

@media screen and ( max-width: 1300px ){
  .container{
    max-width: 90%;
}
}