#topVideo{
  position: absolute;
  top: 0;
  left: 0;
  width: 175%;
  z-index: -1;
    
}

#bottomVideo{
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  z-index: -1;
    
}

@media screen and ( max-width: 1450px ){

  #topVideo{
    width: 250%;
  }

  #bottomVideo{
    width: 180%;
  }
}

@media screen and ( max-width: 1100px ){

  #topVideoo{
    width: 280%;
  }

  #bottomVideo{
    width: 300%;
  }
}

@media screen and ( max-width: 1000px ){

  #topVideo{
    width: 450%;
  }

  #bottomVideo{
    width: 550%;
  }

}

@media screen and ( max-width: 400px ){
  #topVideo{
    width: 550%;
  }

  #bottomVideo{
    width: 660%;
  }
}