@mixin primary-font{
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
}

@mixin middle-font{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

@mixin secondary-font{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}